<!-- TODO: make front-end lol -->
<div [ngStyle]="myStyle">
  Hello <span *ngFor="let myWorldLetter of myWorld">{{myWorldLetter}}</span><span *ngIf="amIExcited > 1">!</span><span *ngIf="amIExcited < 2">.</span>
</div>

<!-- Top search bar -->
<div>
  <label>Type in the name of what you want to get data on from the Stone King API:</label>
  <input type="text" placeholder="Search API" />
</div>

<style>.instr{animation:aa 2s;}@keyframes aa{0%{opacity:0}100%{opacity:1}}</style><div class="instr">Press F5 to go on an adventure!</div>